<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/static/primer.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-lg clearfix">
      {{#> body}}{{/body}}
    </div>
    <script src="/static/moment.min.js"></script>
    <script src="/static/chart.min.js"></script>
    <script type="text/javascript">
      function raiseDocumentReadyEvent() {
        const dateTimeElements = document.getElementsByClassName('date-time')
        const event = new CustomEvent("document-ready")
        document.dispatchEvent(event)
        
        for(const element of dateTimeElements) {
          const parsedDate = moment(element.getAttribute('data-time')).local()
          const difference = parsedDate.diff(moment())
          const duration = moment.duration(difference).humanize()
          element.innerHTML = `${duration} ago`
        }
      }
      if (document.readyState === "complete" || (document.readyState !== "loading" && !document.documentElement.doScroll)) {
        raiseDocumentReadyEvent();
      } else {
        document.addEventListener("DOMContentLoaded", raiseDocumentReadyEvent);
      }
    </script>
  </body>
</html>