<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/static/primer.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-lg clearfix">
      {{#> body}}{{/body}}
    </div>
    <script src="/static/moment.min.js"></script>
  </body>
</html>