<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/static/primer.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-lg clearfix">
      {{#> body}}{{/body}}
    </div>
    <script src="/static/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
  </body>
</html>