<!doctype html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-lg clearfix">
      {{#> body}}{{/body}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
  </body>
</html>